azure-storage-file-datalake
ipykernel
pandas
python-dateutil
pytest
pandasql
unicode
matplotlib
scikit-learn
plotly
# dataprep 
seaborn
lightgbm
pyarrow>=14.0.0
azure-identity
azure-storage-file-datalake